<template>
<div class="event-block" if:true={name}>
					<lightning-combobox slot="actions" name="language" label="Select language" variant="label-hidden"
						value={language}
						placeholder="Select language" options={languageOptions} onchange={handleLanguageChange}>
					</lightning-combobox>
</div>
</template>